@charset "UTF-8";

* {
    padding : 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
}
.dropdown-wrapper{
    padding: .25rem .5rem;
    border: 1px black solid;
    margin: auto;
    width: 800px;
}
.dropdown-wrapper h2{
    border-bottom: 1px solid black;

}
.dropdown-content{
    display:none;
}
/***********POPIN*********/
.shadow {
    background-color: rgba(0, 0, 0, .5);
    position:fixed;
    top:0;
    bottom :0;
    left: 0;
    right: 0;
    display:none; 
}
.popin-content{
    background-color: white;
    border-radius : 7px;
    width: 100%;
    max-width:800px;
    margin: auto;
}
