* {
    padding: 0;
    margin : 0;
    border: 0 none;
    outline: 0 none;

}
.thumbnail{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.thumbnail img{
    max-width: 100%;
    max-height:100%;
}
/***********Visionneuse*******/

#shadow{
    background: rgba(0, 0, 0, .5);
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    display:none;
}
#slider-wrapper{
    width: 600px;
    height:600px;
    margin: 100px auto;
    border: 2px solid white;
    position: relative;
    overflow:hidden;
}
#slide-container{
    height:100%;
    position:absolute;
    top: 0;
    left:0;
}
.slide{
    height:100%;
    width:600px;
    float:left;
    background:black;
    line-height:600px;
    vertical-align:center;
}
.slide img{
    max-width:100%;
    max-height:100%;
}
#slider-nav{
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}
