@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0 none;
    border: 0 none;
    }

#main-nav {

    width:200px;
    position:fixed;
    top:0;
    bottom:0;
    right:-150px;
    transition:all 1s linear;
    }
#main-nav ul {
    float:right;
    background-color:aliceblue;
    list-style:none;
    width:150px;
    }
#main-nav.opened {
    right: 0;
}
