@charset "UTF-8";

* {
    padding: 0;
    margin : 0;
    border: 0 none;
    outline: 0 none;

}

.slider-wrapper{
    position:relative;
    width:400px;
    height:150px;
    margin:auto;
    overflow:hidden;
}

.slide-container{
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.slide {
    float:left;
    height:100%;
    width:400px;
}
.slide:first-child{
    background:red;
}
.slide:nth-child(2){
    background: forestgreen;
}
.slide:last-child{
    background:navy;
}
.slider-nav{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}
.slider-nav a {
    color:white;
    font-size: 2em;
    text-decoration: none; 
}
